*{
    box-sizing: border-box;
}

.box{
    border: 1px solid green;
    height: 700px;
    display: flex;
    /* flex-direction: row; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    justify-content: flex-start;
    justify-content: flex-end;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly;
    align-items: center;
    /* align-items: stretch; */
    flex-wrap: wrap;
    align-content: flex-end;
    align-content: space-around;
}

.item1{
    height: 100px;
    width: 100px;
    border: 1px solid grey;
    padding-left: 45px;
    padding-top: 45px;
    line-height: 0;
    background-color: aquamarine;
}
