*{
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.arrow_11{
    cursor: pointer;
    /* position: absolute; */
    position: fixed;
    right: 10px;
    bottom: 40px;
    transform: rotate(90deg);
}

.arrow_22{
    cursor: pointer;
    position: absolute;
    right: 80px;
    bottom: 40px;
    transform: rotate(270deg);
}

.box{
    height: 500px;
    border: 3px solid green;
    position: relative;
}

.point{
    width: 30px;
    height: 30px;
    background-color: blue;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: -20px;
}

.text_1,
.text_2,
.text_3{
    width: 200px;
    border: 5px solid red;
    position: absolute;
}

.text_1{
    background-color: red;
    z-index: 4;
}

.text_2{
    background-color:   brown;
    color: white;
    left: 100px;
    top: 50px;
    z-index: 3;
}

.text_3{
    background-color: yellow;
    left: 150px;
    top: 100px;
    z-index: 1;
}

.forest{
    text-align: center;
}

.title_1{
    color: greenyellow;
    position: relative;
}

.nature{
    position: absolute;
    right: 768px;
}