*{
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.wrapper{
    background-image: url('../images/bg.jpg');
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}

.header-inner{
    display: flex;
    justify-content: space-between;
}

.header-inner{
    padding-top: 34px;
    margin-bottom: 166px;
}

.logo{
    margin-top: 34px;
}

.menu{
    display: flex;
    align-items: center;
}

.menu_list{
    display: flex;
}

.menu_list-link{
    color: #FFFFFF;  
    font-family: 'Roboto', sans-serif; 
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
}

.menu_list-item{
    margin-left: 30px;
}

.title{
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 112px;
}

.text{
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 30px;
}

.slick-dots{
    list-style: none;
    display: flex;
    justify-content: center;
}

.slick-dots li+li{
    margin-left: 15px;
}

.slick-dots button{
    font-size: 0;
    border: none;
    padding: 0;
    width: 25px;
    height: 25px;
    background: #7A3D1C;
    border: 2px solid #FDD486;
    border-radius: 50%;
}

.item{
    text-align: center;
}